 <!--Section: Features v.3-->
 <section>

    
  
    <!--Grid row-->
    <div class="row pt-2">
  
      <!--Grid column-->
      <div class="col-lg-9 text-center text-lg-left">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Post-graduate Programmes</h1>
            <p class="lead">
              Maduka University’s postgraduate programme aims to achieve the University’s mission of raising a new generation of leaders by exposing graduate students to life in the society, industry and organization Currently Postgraduate studies is available across all Faculties in Maduka University.
                 </p>
                 <div class="row">
                  <div class="col-lg-5 lead">
                    <ul class="list-group">
                      <li class="list-group-item">
                       Faculty of Administration
                      </li>
                      <li class="list-group-item">
                       Faculty of Social Sciences
                      </li>
                      <li class="list-group-item">
                       Faculty of Technology
                      </li>
                      <li class="list-group-item">
                       Faculty of Sciences
                      </li>
                      <li class="list-group-item">
                       Faculty of Environmental Design & Management
                      </li>
                      <li class="list-group-item">
                       Faculty of Education
                      </li>
 
                    </ul>
                  
                
                  </div>
                  <div class="col-lg-5 lead">
                   <ul class="list-group">
                     <li class="list-group-item">
                       Faculty of Law
                     </li>
                     <li class="list-group-item">
                       Faculty of Dentistry
                     </li>
                     <li class="list-group-item">
                       Faculty of Clinical Sciences
                     </li>
                     <li class="list-group-item">
                       Faculty of Basic Medical Sciences
                     </li>
                     <li class="list-group-item">
                       Faculty of Arts
                     </li>
                     <li class="list-group-item">
                       Faculty of Pharmacy
                     </li>
                     <li class="list-group-item">
                       Faculty of Environmental Design & Management
                     </li>
 
                   </ul>
                  
             
                 
                  </div>
                 </div>
          </div>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3">
  
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Quick links</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="[ '/postgraduate']">Postgraduate</a>
            
              </li>
              <li class="list-group-item">
                <a [routerLink]="[ '/undergraduate']">Undergraduate</a>
           
              </li>
             
            </ul>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->