<section>

    <!--Section heading-->
   
  
    <!--Grid row-->
    <div class="row pt-2">
  
     
      <!--Grid column-->
      <div class="col-lg-7">
  
        <div class="jumbotron jumbotron-fluid ml-4" style="background-color:#F2ECEC;">
            <h1  class="abs-heading pt-2 pb-2">Top Resource<i class="fas fa-arrow-right float-right"></i></h1>
            <div class="container">
             
                <mdb-card class="mb-3">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Implications for industrial application of bioflocculant demand alternatives to conventional media: waste as a substitute</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
    <mdb-card-text> 
      <span>By Mohammed, J.n., and Wan Dagang, W.r.z. </span>
      <span class="journal-article float-right py-2 px-2">Journal Articles</span>
      </mdb-card-text>
      <mdb-card-text> 
      <i class="fas fa-eye"></i> 11.23k 
        </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>

                  <mdb-card class="mb-3">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Implications for industrial application of bioflocculant demand alternatives to conventional media: waste as a substitute</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
    <mdb-card-text> 
      <span>By Mohammed, J.n., and Wan Dagang, W.r.z. </span>
      <span class="journal-article float-right py-2 px-2">Journal Articles</span>
      </mdb-card-text>
      <mdb-card-text> 
      <i class="fas fa-eye"></i> 11.23k 
        </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>

                  <mdb-card class="mb-3">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Implications for industrial application of bioflocculant demand alternatives to conventional media: waste as a substitute</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
    <mdb-card-text> 
      <span>By Mohammed, J.n., and Wan Dagang, W.r.z. </span>
      <span class="journal-article float-right py-2 px-2">Journal Articles</span>
      </mdb-card-text>
      <mdb-card-text> 
      <i class="fas fa-eye"></i> 11.23k 
        </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>
            </div>
            <p class="float-right mr-3 mt-3">More...</p>
          </div>
  
      </div>
      <!--Grid column-->

       <!--Grid column-->
       <div class="col-lg-5 text-center text-lg-left">
         <!--Grid column-->
    

        <div class="jumbotron jumbotron-fluid mr-4" style="background-color:#F2ECEC;">
          <div class="container">
            <h1 class="display-4">Other Links <i class="fas fa-arrow-right float-right"></i></h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/history']"><span>Convocation Lectures Series</span>  <i style="background-color:#F2ECEC ;" class="fas fa-lightbulb float-right px-2 py-2 rounded-circle"></i></a> 
            
              </li>
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/mission']"><span>Key Note Addresses</span><i style="background-color:#F2ECEC ;" class="fas fa-graduation-cap float-right px-2 py-2 rounded-circle"></i></a>
           
              </li>
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/vision']"><span>Order of Proceedings</span><i style="background-color:#F2ECEC ;" class="fas fa-book float-right px-2 py-2 rounded-circle"></i></a>
               
              </li>
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/core-value']"><span>Other Lecture Programmes</span><i style="background-color:#F2ECEC ;" class="fas fa-book float-right px-2 py-2 rounded-circle"></i></a>
              </li>
            </ul>
          </div>
        </div>
  
      <div class="row">
        <h2 class="col-md-12">Faculties</h2>
        <div class="faculty col-md-4">Administration</div>
        <div class="faculty col-md-4">Agriculture</div>
        <div class="faculty col-md-4">Engineering</div>
        <div class="faculty col-md-4">Medicine</div>
        <div class="faculty col-md-4">Law</div>
        <div class="faculty col-md-4">Environmental</div>
        <div class="faculty col-md-4">Social Science</div>
        <div class="faculty col-md-4">Physical Science</div>
        <div class="faculty col-md-4">Arts & Humanities</div>
      </div>
         </div>
      <!--Grid column-->
  
  
    </div>
    <!--Grid row-->
  
  </section>