
<app-layout></app-layout>

<div class="container my-5 pb-5">
    <div class="row">
        <div class="col-md-3">
            <app-portalsidenav></app-portalsidenav>
        </div>

        <div class="col-md-9">
            <div class="card"> 
                <div class="card-body">
                    <p class="card-title">Make Payment Here</p>
                    <div class="card-text">
                        <form [formGroup]="feePaymentForm">
                            <div class="form-group">

                                <!-- <div class="md-form">
                                    <mdb-select-2 placeholder="Choose your option" label="Example label" [formControl]="selectControl">
                                      <mdb-select-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mdb-select-option>
                                    </mdb-select-2>
                                </div> -->

                                <div class="row my-4">
                                    <div class="col-md-8 mx-auto">
                                        <label for="fee_type">Select Fee Type</label>
                                        <select id="fee_type" class="form-control py-2 " name="feeType" mdbInput>
                                            <option></option>
                                            <option *ngFor="let fee of feeTypeOptions">{{ fee }}</option>
                                        </select>                                
                                    </div>
                                </div>

                                <div class="row my-4">
                                    <div class="col-md-8 mx-auto">
                                        <label for="session">Select School Session</label>
                                        <select  id="session" class="form-control py-2 " name="feeType" mdbInput>
                                            <option value=""></option>
                                            <option value="" *ngFor="let sess of sessionOptions">{{ sess }}</option>
                                        </select>                                  
                                    </div>
                                </div>

                                <div class="row my-4">
                                    <div class="col-md-8 mx-auto">
                                        <label for="student_type">Select Student Type</label>
                                        <select id="student_type" class="form-control py-2 " name="feeType" mdbInput>
                                            <option value=""></option>
                                            <option value="" *ngFor="let studtype of studentTypeOptions"> {{ studtype }} </option>
                                        </select>                                   
                                    </div>
                                </div>                               
                                
                                <div class="row my-4">
                                    <div class="col-md-8 mx-auto">
                                        <button type="button" class="btn btn-primary btn-lg" mdbWavesEffect (click)="openPaymentProcess();" >Pay Fee</button>                                
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>

<app-portalfooter></app-portalfooter>
