<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4" style="background-color:#F2ECEC;">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 mx-1 my-1">
  
        <mdb-card>
           
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h4 class="card-heading">Open Education Resource Data Base  &nbsp;  &nbsp; <i class="fas fa-arrow-right"></i></h4>
              </mdb-card-title>
          
             
            </mdb-card-body>
          </mdb-card>

          
            <div class="row mt-3 ml-1">
                <mdb-card class="col-md-5 mr-5">
           
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Books</h4>
                      </mdb-card-title>
                  
                     
                    </mdb-card-body>
                  </mdb-card>
                  <mdb-card class="col-md-5">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Journal Articles</h4>
                      </mdb-card-title>
                  
                     
                    </mdb-card-body>
                  </mdb-card>
            </div>
            <div class="row mt-3 ml-1">
                <mdb-card class="col-md-5 mr-5">
           
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Thesis/ Dissertations</h4>
                      </mdb-card-title>
                  
                     
                    </mdb-card-body>
                  </mdb-card>
                  <mdb-card class="col-md-5">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Conference Presentation</h4>
                      </mdb-card-title>
                  
                     
                    </mdb-card-body>
                  </mdb-card>
            </div>
            <div class="row mt-3 ml-1">
                <mdb-card class="col-md-5 mr-5">
           
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Lecture Videos</h4>
                      </mdb-card-title>
                  
                     
                    </mdb-card-body>
                  </mdb-card>
                  <mdb-card class="col-md-5">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Lecture Notes</h4>
                      </mdb-card-title>
                  
                     
                    </mdb-card-body>
                  </mdb-card>
            </div>
             
              
            
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-1 mt-1">
        <div class="d-flex" style="height:450px;">
            <!-- Card -->
           
          
            <!-- Card -->
            <mdb-card
              style="background-image: url('assets/images/oer-image.png');background-repeat: no-repeat; width:100%;"
              class="card-image mb-3 mx-2"
            >
              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4" style="height: 450px;">
                <div class="welcome">
                 
                  <h3 class="card-title pt-2"><strong>Welcome to</strong></h3>
                  <p>
                    Maduka University Open Education Resource.
                  </p>
                  
                 
                </div>
              </div>
              <!-- Content -->
            </mdb-card>
            <!-- Card -->
          </div>
          
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </div>
  <!-- News jumbotron -->
<!--Section: Features v.3-->
<section>

    <!--Section heading-->
   
  
    <!--Grid row-->
    <div class="row pt-2">
  
     
      <!--Grid column-->
      <div class="col-lg-7">
  
        <div class="jumbotron jumbotron-fluid ml-4" style="background-color:#F2ECEC;">
            <h1  class="abs-heading pt-2 pb-2">Top Resource<i class="fas fa-arrow-right float-right"></i></h1>
            <div class="container">
             
                <mdb-card class="mb-3">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Implications for industrial application of bioflocculant demand alternatives to conventional media: waste as a substitute</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
    <mdb-card-text> 
      <span>By Mohammed, J.n., and Wan Dagang, W.r.z. </span>
      <span class="journal-article float-right py-2 px-2">Journal Articles</span>
      </mdb-card-text>
      <mdb-card-text> 
      <i class="fas fa-eye"></i> 11.23k 
        </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>

                  <mdb-card class="mb-3">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Implications for industrial application of bioflocculant demand alternatives to conventional media: waste as a substitute</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
    <mdb-card-text> 
      <span>By Mohammed, J.n., and Wan Dagang, W.r.z. </span>
      <span class="journal-article float-right py-2 px-2">Journal Articles</span>
      </mdb-card-text>
      <mdb-card-text> 
      <i class="fas fa-eye"></i> 11.23k 
        </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>

                  <mdb-card class="mb-3">
               
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4 class="card-text">Implications for industrial application of bioflocculant demand alternatives to conventional media: waste as a substitute</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
    <mdb-card-text> 
      <span>By Mohammed, J.n., and Wan Dagang, W.r.z. </span>
      <span class="journal-article float-right py-2 px-2">Journal Articles</span>
      </mdb-card-text>
      <mdb-card-text> 
      <i class="fas fa-eye"></i> 11.23k 
        </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>
            </div>
            <p class="float-right mr-3 mt-3">More...</p>
          </div>
  
      </div>
      <!--Grid column-->

       <!--Grid column-->
       <div class="col-lg-5 text-center text-lg-left">
         <!--Grid column-->
    

        <div class="jumbotron jumbotron-fluid mr-4" style="background-color:#F2ECEC;">
          <div class="container">
            <h1 class="display-4">Other Links <i class="fas fa-arrow-right float-right"></i></h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/history']"><span>Convocation Lectures Series</span>  <i style="background-color:#F2ECEC ;" class="fas fa-lightbulb float-right px-2 py-2 rounded-circle"></i></a> 
            
              </li>
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/mission']"><span>Key Note Addresses</span><i style="background-color:#F2ECEC ;" class="fas fa-graduation-cap float-right px-2 py-2 rounded-circle"></i></a>
           
              </li>
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/vision']"><span>Order of Proceedings</span><i style="background-color:#F2ECEC ;" class="fas fa-book float-right px-2 py-2 rounded-circle"></i></a>
               
              </li>
              <li class="list-group-item mb-4">
                <a [routerLink]="[ '/core-value']"><span>Other Lecture Programmes</span><i style="background-color:#F2ECEC ;" class="fas fa-book float-right px-2 py-2 rounded-circle"></i></a>
              </li>
            </ul>
          </div>
        </div>
  
      <div class="row">
        <h2 class="col-md-12">Faculties</h2>
        <div class="faculty col-md-4">Administration</div>
        <div class="faculty col-md-4">Agriculture</div>
        <div class="faculty col-md-4">Engineering</div>
        <div class="faculty col-md-4">Medicine</div>
        <div class="faculty col-md-4">Law</div>
        <div class="faculty col-md-4">Environmental</div>
        <div class="faculty col-md-4">Social Science</div>
        <div class="faculty col-md-4">Physical Science</div>
        <div class="faculty col-md-4">Arts & Humanities</div>
      </div>
         </div>
      <!--Grid column-->
  
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->

  

    <!--Section heading-->
   
  
    <!--Grid row-->

    <div class="row pt-2 ml-4 mr-4 mb-3">
  <h2 class="col-md-12 news-heading py-3">News</h2>
        <div class="card-deck">
            <!-- Card -->
            <mdb-card>
              <div class="view overlay waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img class="img-fluid rounded" src="assets/images/Rectangle-30.png" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4 style="color: #5F5959;">10th June 2020</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>Research on the output being conveyed on the conference materials under the supervision of the FG.
                </mdb-card-text>
          
                <a style="color:#F97C7C;" href="#" class="float-right" >read more...</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/images/Rectangle-31.png" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4 style="color: #5F5959;">10th June 2020</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>Research on the output being conveyed on the conference materials under the supervision of the FG.
                </mdb-card-text>
          
                <a style="color:#F97C7C;" href="#" class="float-right" >read more...</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/images/Rectangle-32.png" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4 style="color: #5F5959;">10th June 2020</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>Research on the output being conveyed on the conference materials under the supervision of the FG.
                </mdb-card-text>
          
                <a style="color:#F97C7C;" href="#" class="float-right" >read more...</a>
              </mdb-card-body>
            </mdb-card>
          </div>
  
    </div>
    <!--Grid row-->
  
  