
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
    color:#00356B;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome {
    font-family: "Modern Antiqua";
    font-size: 4rem;
}

.mup {
    font-family: "Modern Antiqua";
    font-size: 1.5rem;
}

.text-orange {
    color: #F4843A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.y-padding {
    padding-top: 0.8rem;
}

.text-typography {
    color: #1624A5;
    font-size: 1rem;
}

.enquiry-text-typography {
    color: #00356B;
    text-transform: uppercase;
}