 <!--Section: Features v.3-->
 <section>

    
  
    <!--Grid row-->
    <div class="row pt-2">
  
      <!--Grid column-->
      <div class="col-lg-9 text-center text-lg-left">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Vision</h1>
            <p class="lead">
              Samuel Maduka University shall be highly reputable institution genuinely committed to impacting knowledge, learning, scholarship and skills to all men and women in order to equip them to confront and control the challenges of the next centuries. The aspiration is to: Maintain and sustain the university as an apex institution through accountable, consultative, focused, interactive, innovative, purposeful, team –based, result-oriented and transparent leadership and management to constantly utilized existing knowledge and generate new ones. Use first class and state of the arts facilities, highly motivated staff and studentsworking in an atmosphere of academic freedom and security to transform the university into a world class center. Ensure a high standard of academic excellent, discipline, integrity and intellectual heritage. Reflect and impact positively on the culture, traditions and the social-economic needs of the society.     </p>
          </div>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3">
  
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Quick About links</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="[ '/history']">History</a>
            
              </li>
              <li class="list-group-item">
                <a [routerLink]="[ '/mission']">Mission</a>
           
              </li>
              <li class="list-group-item">
                <a [routerLink]="[ '/vision']">Vision</a>
               
              </li>
              <li class="list-group-item">
                <a [routerLink]="[ '/core-value']">Core-Value</a>
              </li>
            </ul>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->