<div class="container pt-4 pb-3">
    <div class="row" style="border:1px solid #00356B; margin-right: 10px; border-radius: 15px;">
        <div class="col-md-6 offset-md-1">
            <div style="margin-left: 150px;">
                <img src="assets/images/logo/mu-logo.png" height="100" alt="">
            </div>
            <div>
                <p class="login-welcome">
                    Welcome To Maduka University Open Education Resource
                    
                </p>
            </div>
            <div>
                <img class="img-fluid" src="assets/images/login-image.png" height="" alt="">
            </div>
        </div>
        <div class="col-md-5" style="background: #00356B; border-radius: 0px 15px 15px 0px;">
            <!-- Material form login -->


            <h5 class="login-title text-white mt-5 ml-5">
                Login to your Account
              </h5>
  
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form [formGroup]="validatingForm" class="text-center" style="color: #0F0D3E;">
  
        <!-- Email -->
        
          <!-- <input [(ngModel)]="LoginData.email" name="email" mdbInput mdbValidation type="email" id="email" class="form-control" formControlName="email"> -->
          <div class="md-form pl-5">
            <input style="width:80%; " [(ngModel)]="LoginData.email" name="email" mdbInput mdbValidation type="email" id="form8" class="form-control" formControlName="email">
            <label class="ml-5" for="form8">Email </label>
            <mdb-error *ngIf="input.email  && input.email.invalid && (input.email.dirty || input.email.touched)">
              <span *ngIf="input.email.errors!.required">Email is required</span>
              <span *ngIf="input.email.errors!.email">This email address is not valid</span>
            </mdb-error>
            <mdb-success *ngIf="input.email  && input.email.valid && (input.email.dirty || input.email.touched)">Email valid</mdb-success>
          </div>
  
        <!-- Password -->
        <div class="md-form">
          
        </div>
        <div class="md-form pl-5">
          <input style="width:80%; " mdbValidation [(ngModel)]="LoginData.password" name="password" type="password" id="password" class="form-control" mdbInput formControlName="password">
          <label class="ml-5" for="password">Password</label>
         
          <mdb-error *ngIf="input.password && input.password.invalid && (input.password.dirty || input.password.touched)">
            <span *ngIf="input.password.errors!.required">Password is required</span>
            <!-- <span *ngIf="input.password.errors!.pattern">must contain caps</span> -->
            <span *ngIf="input.password.errors!.minlength"> minimum character (8)</span>
            
          </mdb-error>
          <mdb-success *ngIf="input.password && input.password.valid && (input.password.dirty || input.password.touched)">Password valid</mdb-success>
        </div>
  
        <div class="d-flex justify-content-around text-white">
          <div>
            <!-- Remember me -->
            <mdb-checkbox>Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a  class="text-white" [routerLink]="[ '/#']">Forgot password?</a>
          </div>
        </div>
  
        <!-- Sign in button -->
        <button mdbBtn class="custom-submit my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit" (click)="LoginUser()" [disabled]="validatingForm.invalid">Login</button>
  
        <!-- Register -->
        <p class="text-white" >Not a member?
        <a class="text-white"  [routerLink]="[ '/oer/register']">Register</a>
        </p>
  
       
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  
  <!-- Material form login -->
        </div>
    </div>
</div>

