<div class="container pt-4 pb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Material form login -->
<mdb-card>

    <mdb-card-header class="white-text text-center py-4">
      <h5>
        <strong>Registrattion</strong>
      </h5>
    </mdb-card-header>
  
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form class="text-center" [formGroup]="signUpForm" style="color: #0F0D3E;" (ngSubmit)="registerUser()">
  
        <!-- First Name -->
        <div class="md-form">
          <input type="text" id="materialLoginFormFirstName" formControlName="firstname" class="form-control" mdbInput>
          <label for="materialLoginFormEmail">First Name</label>
        </div>

         <!-- Last Name -->
         <div class="md-form">
            <input type="text" id="materialLoginFormLastName" formControlName="lastname"  class="form-control" mdbInput>
            <label for="materialLoginFormEmail">Last Name</label>
          </div>
           <!-- Email -->
        <div class="md-form">
            <input type="email" id="materialLoginFormEmail" formControlName="email"  class="form-control" mdbInput>
            <label for="materialLoginFormEmail">E-mail</label>
          </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" formControlName="password"  class="form-control" mdbInput>
          <label for="materialLoginFormPassword">Password</label>
        </div>
        
         <div class="md-form">
            <input type="password" id="materialLoginFormPasswordConfirm" class="form-control" mdbInput>
            <label for="materialLoginFormPassword">Confirm Password</label>
          </div>

        <button mdbBtn class="custom-submit my-4 waves-effect z-depth-0" mdbWavesEffect type="submit">Register</button>
  
        <p>Already a member?
        <a  [routerLink]="[ '/login']">Login</a>
        </p>
  
       
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form login -->
        </div>
    </div>
</div>