mdb-card{
    border-radius: 15px;

    mdb-card-header{
        border-radius: 15px 15px 0px 0px;
        background-color: #00356B;
        strong{
            font-size: 28px;
        }
    }
    .custom-submit{
        background-color:#B5861E;
        border-radius: 50px;
        color: blanchedalmond;
        max-width: 100%;
    }
}



