
<div class="card">
    <div>
        <!-- <img src="assets/images/logo/smu-logo.png" height="40" alt=""> Portal Menu -->
    </div>
    <nav class="nav flex-column grey lighten-5 py-4">
        <a class="nav-link text-muted text-nowrap" routerLink="/student-profile">My Bio-Data</a>
        <a class="nav-link text-muted text-nowrap" routerLink="/course-registration">Register Courses</a>
        <a class="nav-link text-muted text-nowrap" routerLink="/school-fees-payment" mdbWavesEffect>Fee Payment</a>
        <a class="nav-link text-muted text-nowrap" routerLink="/hostel-application">Hostel Allocation</a>
        <a class="nav-link text-muted text-nowrap" routerLink="/check-results">Check Result</a>
        <a class="nav-link text-muted text-nowrap" href="#">Health Registration</a>
        <a class="nav-link text-muted text-nowrap" routerLink="/clearance-available">Clearance</a>
        <a class="nav-link text-muted text-nowrap" href="#">Convocation</a>
        <a class="nav-link text-muted text-nowrap" href="#">Change Password</a>
        <a class="nav-link text-muted text-nowrap" href="#">Logout</a>
    </nav>
</div>
