@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.sub-header-bg {
    background-color: #00356B;
    color: #ffffff;
}

.x-padding {
    padding-left: 4rem;
    padding-right: 4rem;
}

