 <!--Section: Features v.3-->
 <section>

    
  
    <!--Grid row-->
    <div class="row pt-2">
  
      <!--Grid column-->
      <div class="col-lg-9 text-center text-lg-left">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Mission</h1>
            <p class="lead">
              Samuel Maduka University shall advance appropriate and effective learning and exploit new frontiers of knowledge. This shall be achieved through: Effective teaching, research and dissemination of research-based knowledge which shall be of the highest standard Regular strategic planning, needs assessment, and re-training to produce high quality man power and sustain capacity building. Consolidation the achievement so far recorded by constant evaluation and monitoring Consolidating and expanding post graduate programmes which shall be of the highest quality with emphasize on staff development to ensure continuity as well as serving the needs of the academia. Aggressive and focused expansion by creating new centers and programmes to meet the needs and aspirations of the changing society. Establishing and nurturing local, nation and international partnerships and integration. Serving as a positive model and conscience of the society and for the society.     </p>
          </div>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3">
  
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Quick About links</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="[ '/history']">History</a>
            
              </li>
              <li class="list-group-item">
                <a [routerLink]="[ '/mission']">Mission</a>
           
              </li>
              <li class="list-group-item">
                <a [routerLink]="[ '/vision']">Vision</a>
               
              </li>
              <li class="list-group-item">
                <a [routerLink]="[ '/core-value']">Core-Value</a>
              </li>
            </ul>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->