
mat-card, mat-grid-tile {
    background: #F8F8F8;
}

.stretch-input, .full-width {
    width: 100%;
}

.title {
    font-size: x-large;
    font-weight: 500;
    color: #00356B;
}

.btn-color {
    background-color: #00356B;
    color: #ffffff;
}

.click-here {
    color: #7024C4;
}

.text-color {
    color: #7A7A7A;
}