
* {
    font-family: Arial, Helvetica, sans-serif;
}

.form-layout {
    width: 80%;
    margin: auto;
}

.card-width {
    width: 85%;
    margin: auto;
}

.full-width {
    width: 100%;
}

.instructions {
    color: #F4843A;
    text-transform: uppercase;
}

.title {
    font-size: large;
    color: #0F0D3E;
}
